<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>developer-id</string>
	<key>signingCertificate</key>
	<string>Apple Development: Alexander Perathoner (K3WW8XS7KE)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>XX9N244QQT</string>
</dict>
</plist>
